<b>Нет нужной игры</b>? <a href="/edit/game?id=">Добавьте</a> самостоятельно или напишите на <a href= "mailto:rpg@kogda-igra.ru">rpg@kogda-igra.ru</a>
<table id="calendar">
    <tr>
        <th class="status-column">Статус</th>
        <th class="name-column">Название</th>
        <th class="region-column">Регион</th>
        <th class="date-column">Сроки</th>
        <th class="type-column">Тип игры</th>
        <th class="polygon-column">Полигон</th>
        <th class="players-column" title="Количество игроков">Иг-ов</th>
        <th class="mg-column">Мастерская группа</th>
    </tr>
    <tr class="month_header">
        <td colspan="8">
            <br>
            <b>Январь</b>
            <a href="#feb">Февраль</a>
            <a href="#mar">Март</a>
            <a href="#apr">Апрель</a>
            <a href="#may">Май</a>
            <a href="#jun">Июнь</a>
            <a href="#jul">Июль</a>
            <a href="#aug">Август</a>
            <a href="#sep">Сентябрь</a>
            <a href="#oct">Октябрь</a>
            <a href="#nov">Ноябрь</a>
            <a href="#dec">Декабрь</a>
        </td>
    </tr>
    <% mon = 1 %>
    <% @games.each do |game| %>
        <% if game["date_start"].month > mon %>
            <tr>
                <td colspan="8">
                    Weee
                </td>
            </tr>
            <% mon = game["date_start"].month %>
        <% end %>
        <tr>
            <td class="<%= game["status_style"] %>" id="<%= game["id"] %>">
                <%= game["status_name"] %>
            </td>
            <td class="game_name">
                <!-- URL -->
                <% if game["uri"] and game["uri"] != '' %>
                    <a href="<%= game["uri"] %>"><img src="/assets/world_link.png" width="16" height="16" title="<%= game["url"] %>" alt="<%= game["url"] %>" class="link_icon"></a>
                <% end %>
                
                <!-- VK -->
                <% if game["vk_club"] and game["vk_club"] != '' %>
                    <% vk_url = "https://vk.com/" + game["vk_club"] %>
                    <a href="<%= vk_url %>"><img src="/assets/vk.png" width="16" height="16" title="<%= vk_url %>" alt="<%= vk_url %>" class="link_icon"></a>
                <% end %>
                
                <!-- Livejournal -->
                <% if game["lj_comm"] and game["lj_comm"] != '' %>
                    <% lj_url = "http://" + game["lj_comm"] + ".livejournal.com" %>
                    <a href="<%= lj_url %>"><img src="/assets/lj.png" width="16" height="16" title="<%= lj_url %>" alt="<%= lj_url %>" class="link_icon"></a>
                <% end %>
                
                <!-- Facebook -->
                <% if game["fb_comm"] and game["fb_comm"] != '' %>
                    <% fb_url = "https://facebook.com/groups/" + game["fb_comm"] %>
                    <a href="<%= fb_url %>"><img src="/assets/fb.png" width="16" height="16" title="<%= fb_url %>" alt="<%= fb_url %>" class="link_icon"></a>
                <% end %>

                &nbsp;<a href="/game/<%= game["id"] %>"><%= game["name"] %></a>
            </td>
            <!-- sublocation -->
            <td title="<%= game["sub_region_name"] %>">
                <%= game["sub_region_disp_name"] %>
            </td>
            <!-- dates -->
            <td>
                <%= dateRangeToText(game["date_start"], game["date_finish"]) %>
            </td>
            <td>
                <%= raw(game["game_type_name"]) %>
            </td>
            <td>
                <%= game["polygon_name"] %>
            </td>
            <td>
                <%= game["players_count"] %>
            </td>
            <td>
                <% if game["email"] and game["email"] != '' %>
                    <a href="mailto:<%= game["email"] %>"><img src="assets/email.png" width="16" height="16" title="<%= game["email"]%>" alt="<%= game["email"] %>" class="link_icon"/></a>
                <% end %>
                <%= game["mg"] %>
            </td>
        </tr>
    <% end %>
</table>
